body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #deebc7;
}

button {
    font-family: 'Roboto', sans-serif;
}

.square-button:hover {
    background-color: #E2D686;
    border: 2px #a6ce5c solid;
}

* {
    color: #877B66;
}

.turn,
.board,
div.new,
.header {
    width: 500px;
}

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 600;
}

.turn {
    display: flex;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px;
    width: 500px;
    height: 500px;
}

.square-button {
    font-size: 3rem;
    color: #296EB4;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #e4debd;
    border: 2px #bbc7a6 solid;
} 

div.turn {
    width: 500px;
    height: 50px;
}

div.new {
    display: flex;
    justify-content: space-between;
}

button.new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    border: 3px #AFC97E solid;
}